@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap");

:root {
  --body-bg: #fff7f3;
  --wine-deep: #5a0f2e;
  --wine-guinda: #7b1e3a;
  --wine-classic: #8c1d40;
  --wine-burgundy: #a33a5b;
  --wine-rose: #c97a8c;
  --cream-soft: #f5efea;
  --white-broken: #fbf7f4;
  --shadow-soft: rgba(0, 0, 0, 0.15);
  --shadow-medium: rgba(0, 0, 0, 0.25);
  --shadow-strong: rgba(0, 0, 0, 0.4);
}

/*asistencia*/
.rsvp-form {
  max-width: 90%;
  z-index: 10;
  border: 1px solid var(--wine-rose);
  margin: 0 auto 40px;
  padding: 25px;
  background: var(--cream-soft);
  font-family: "Cormorant Garamond", serif;
  border-radius: 10px;
  box-shadow: 0 10px 30px var(--shadow-soft);
}

.rsvp-intro {
  color: var(--wine-deep);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.rsvp-form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.rsvp-form label {
  font-size: 1.125rem;
  text-transform: capitalize;
  color: var(--wine-guinda);
  margin-bottom: 6px;
}

.rsvp-form input,
.rsvp-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--wine-rose);
  background: var(--white-broken);
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  color: var(--wine-deep);
  outline: none;
}
.rsvp-form select{
    padding: 10px;
}

.rsvp-form input:focus,
.rsvp-form select:focus {
  border-color: var(--wine-classic);
}

.rsvp-form button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: var(--wine-deep);
  color: var(--white-broken);
  font-weight: 600;
  font-family: inherit;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.rsvp-form button:hover {
  background: var(--wine-classic);
}
.qty-control {
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
  gap: 10px;
  justify-content: center;
}

.qty-control input {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  text-align: center;
  font-size: 1.25rem;
  border: 2px solid #7b1e3a;
  border-radius: 8px;
  background: #fff7f3;
  color: #7b1e3a;
}

.qty-btn {
  max-width: 100px;
  max-height: 50px;
  background: #7b1e3a;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.qty-btn:hover {
  background: #5e162c;
  transform: scale(1.08);
}

.qty-btn:active {
  transform: scale(0.95);
}
